<div class="row-application">
  <div class="one">
    Calendar & stats

  </div>

   <div class="two">
    <div class = "filter-plus">
      <div class = "filter"></div>
      <%= link_to ('<i class="fas fa-plus-circle"></i>').html_safe, new_application_path, method: :get, class: "btn-plus"%>
    </div>
    <div class="card-application-right">
      <div class="card-application">

      </div>

      <div class="card-application">

      </div>

      <div class="card-application">

      </div>

      <div class="card-application">

      </div>
    </div>
   </div>
</div>


