.edit-apply-org-container{
display: flex;
margin: 40px 100px 0px 100px;
text-align: center;
justify-content: space-evenly;

}

.edit-apply-org-col{
width: 30%;

h3{
margin-bottom: 20px;

}

}

#organization_description{
      border-color: $gray-400 !important;
      background-image: inherit !important;
      &:focus {
        border-color: inherit!important;
        box-shadow: 0 0 0 .2rem $gray-400!important;
      }
    }


.backtoapp{
margin-left: 30px;
position: fixed;
text-decoration: none;
}

.backtoapp:hover{
text-decoration: underline;
    }