.row-application {
  display: flex;
  align-items: center;
  margin: 50px;

}
.one {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  height:500px;
  max-width: 33%;
}

.application-details {
  flex: 2 1 auto;
  border: solid 1px lightgrey;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  height: 500px;
  overflow:auto;
  max-width: 66%;
  background-color: rgb(250,250,250);
  position: relative;
}

hr {
  width: 60%;
}

h3 {
  margin-top: 8px;
  font-weight: bolder;
}

.fa-times-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
}

.fa-plus-circle {
  font-size: 25px;
  margin-left: 15px;
  margin-top:2px;
}


.review {
  display: flex;
  align-items: center;
  margin: 10px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}


.review .review-content {
  flex-grow: 1;
  padding: 0 24px;

}


.review .review-title {

  display: flex;


}
.review p {
  margin: 0 0 0 5px;
  line-height: 1.4;
  

}

.review small {
  color: #999999;
  font-weight: bold;
}
