.row-application {
  display: flex;
  // margin: 20px;
  max-width: 100%;
}

.one {
  flex: 1 1 auto;
  display: inline-block;
  justify-content: center;
  max-width: 33%;
  margin-top: 15px;
  text-align: center;
}

.calendar {
  height: 300px;
  margin-top: 50px;
  border-radius: 18px;
  margin-bottom: 20px;
}

.stats {
  width: 300px;
}

.dashboard {
  border: 1px solid lightgrey;
  border-radius: 18px;
  width: 350px;
  margin: 0 auto;
}

.two {
  flex: 2 1 auto;
  display:flex;
  height: auto;
  flex-direction: column;
  max-width: 60%;
}

.two p {
  text-align: center
}


.filter {
  margin-bottom:-20px;
  width:100%;
}

.category-filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 40px;
}

.category-btn, .ready {
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #273439;
  font-size: 16px;
  border-radius: 5px;
  border: solid 1px #273439 ;
  &.active {
    background-color:#81AE9D;
    font-weight: bolder;
    color: white;
  }
}

.applied {
  &.active {
    background-color:$blue;
    font-weight: bolder;
    color: white;
  }
}

.ongoing {
  &.active {
    background-color:#E85F5C;
    font-weight: bolder;
    color: white;
  }
}

.waiting {
  &.active {
    background-color:#736CED;
    font-weight: bolder;
    color: white;
  }
}



.category-btn:hover {
  cursor:pointer;

}

.filter-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-plus {
  color: #e85f5c  ;
  font-size: 40px;
  transition: background 0.3s ease;
  margin: 0 auto;
}

.card-application {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;


}

.card-application:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

a:hover{
  text-decoration: none
}


.card-application-left {
  align-items: center;
  display: flex;
}



.card-application-img {
  object-fit: contain;
  size: initial;
  height: 80px;
  width: 80px;
  margin-left: 10px

}

.card-application-infos p {
  margin-bottom: 2px;
  margin-left: 10px;
  width: 200px;
  text-align: center;
}

.card-application-infos small {
  color: #999999;
  font-weight: bold;
}

#organization-name {
  font-weight: bold;
}

.step {
  margin-top: 12px;
  width: 180px;
}

.step p {
  font-size: 15px
}

.status {
  margin-top: 12px;
  width: 180px;
  margin-left: 40px;
  text-align: center
}

.status p {
  font-size: 15px;
  color: white
}

#status-ready {
  background-color: #81AE9D;
  text-align: center;
  justify-content: center;
  border-radius: 10px

}
#status-applied {
  background-color: $blue;
  text-align: center;
  justify-content: center;
  border-radius: 10px

}

#status-ongoing {
  background-color: $red ;
  text-align: center;
  justify-content: center;
  border-radius: 10px

}
#status-waiting {
  background-color: #736CED;
  text-align: center;
  justify-content: center;
  border-radius: 10px

.calendar-div{
  margin: 0 auto;
}

.calendar {
  height: 50%;
  background-color: white;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  width: 80%;
  padding-top: 0 2 rem;
  margin-left: 20px;
}

.month {
  justify-content: space-between;
  background-color: white; 
  display: flex;
  align-items: center;
  padding: 0 4rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  letter-spacing: 0.1rem;
  padding: 0 0.6rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  width: 45px;
  height: 40px;
  font-size: 1.4rem;
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.today {
  background-color: #167e56;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}


.arrow-wrapper {
  display: flex;
  justify-content: center;
  margin-left: 45px
}

.fa-level-up-alt {
  transition: 0s color;
  color:white;
  font-size: 20px;
}

.card-application:hover .fa-level-up-alt {
  transition-delay:0.1s;
  color:grey
}

.card-application:hover .fa-level-up-alt:hover {
  color:black
}

.fa-check-circle {
  transition: 0s color;
  color: white;
  font-size: 20px;
  margin-left: 10px
}

.card-application:hover .fa-check-circle {
  transition-delay:0.15s;
  color: grey ;
}

.card-application:hover .fa-check-circle:hover {
  color:#37FF8B
}

.fa-trash-alt {
  transition: 0s color;
  color: white;
  font-size: 20px;
  margin-left: 10px

}

.card-application:hover .fa-trash-alt {
  transition-delay:0.2s;
  color:grey
}

.card-application:hover .fa-trash-alt:hover {
  color:red
}

#myDIV {
  margin-top: 20px;
  display:none
}

#hide {
  background-color: none;
  margin-top:20px;
  margin-left: 45%;
  text-align: center;
  color: $red;
  border: 1px solid $red;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

}


#hide:hover {
  opacity: 1;
  color: $red;
}
