.row-application {
  display: flex;
  // margin: 20px;
  max-width: 100%;
}

.one {
  flex: 1 1 auto;
  display: inline-block;
  justify-content: center;
  max-width: 33%;
  margin-top: 15px;
  text-align: center;
}

.calendar {
  height: 300px;
  margin-top: 50px;
  border-radius: 18px;
  margin-bottom: 20px;
}

.stats {
  width: 300px;
}

.dashboard {
  border: 1px solid lightgrey;
  border-radius: 18px;
  width: 350px;
  margin: 0 auto;
}

.two {
  flex: 2 1 auto;
  display:flex;
  height: auto;
  flex-direction: column;
  max-width: 60%;
}

.two p {
  text-align: center
}


.filter {
  margin-bottom:-20px;
  width:100%;
}

.category-filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 40px;
}

.category-btn {
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #273439;
  font-size: 16px;
  border-radius: 5px;
  border: solid 1px #273439 ;
  &.active {
    background-color:#FCEDED;
    font-weight: bolder;
  }
}

.category-btn:hover {
  cursor:pointer;

}

.filter-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-plus {
  color: #e85f5c  ;
  font-size: 40px;
  transition: background 0.3s ease;
  margin: 0 auto;
}

.card-application {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;


}

.card-application:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

a:hover{
  text-decoration: none
}


.card-application-left {
  align-items: center;
  display: flex;
}



.card-application-img {
  object-fit: contain;
  size: initial;
  height: 80px;
  width: 80px;
  margin-left: 10px

}


.card-application-infos p {
  margin-bottom: 2px;
  margin-left: 10px;
  width: 200px;
  text-align: center;
}


.step {
  margin-top: 12px;
  width: 180px;
}

.step p {
  font-size: 15px
}

.status {
  margin-top: 12px;
  width: 180px;
  margin-left: 40px;
  text-align: center
}

.status p {
  font-size: 15px;
  color: white
}

#status-ready {
  background-color: #81AE9D;
  text-align: center;
  justify-content: center;
  border-radius: 10px

}
#status-applied {
  background-color: $blue;
  text-align: center;
  justify-content: center;
  border-radius: 10px

}

#status-ongoing {
  background-color: $red ;
  text-align: center;
  justify-content: center;
  border-radius: 10px

}
#status-waiting {
  background-color: #736CED;
  text-align: center;
  justify-content: center;
  border-radius: 10px

}

.arrow-wrapper {
  display: flex;
  justify-content: center;
  margin-left: 45px
}

.fa-level-up-alt {
  transition: 0s color;
  color:white;
  font-size: 20px;
}

.card-application:hover .fa-level-up-alt {
  transition-delay:0.1s;
  color:grey
}

.card-application:hover .fa-level-up-alt:hover {
  color:black
}

.fa-check-circle {
  transition: 0s color;
  color: white;
  font-size: 20px;
  margin-left: 10px
}

.card-application:hover .fa-check-circle {
  transition-delay:0.15s;
  color: grey ;
}

.card-application:hover .fa-check-circle:hover {
  color:#37FF8B
}

.fa-trash-alt {
  transition: 0s color;
  color: white;
  font-size: 20px;
  margin-left: 10px

}

.card-application:hover .fa-trash-alt {
  transition-delay:0.2s;
  color:grey
}

.card-application:hover .fa-trash-alt:hover {
  color:red
}

