<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/thomassdug/jobin" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/welcometothejunglestudents/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/glassdoor/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-contactus">
    Send us an email to improve <strong>jobin</strong>: <a href = "mailto: contact@jobin.work" class="email-btn">contact@jobin.work</a>
  </div>
  <div class="footer-copyright">
     Made with <i class="fas fa-heart"></i> by Grégoire, Maxence, Venkatesh & Thomas
  </div>
</div>
