.card-argument {
  margin: 20px 30px;
  padding: 20px 30px;
  border: none;
}

.card-img-top {
  width: 200px;
  margin: auto;
}

.card-home {
  border: solid 1px lightgrey;
  position: relative;
  background-color: white;
}

.card-review {
  text-align: center;
  margin: 0 auto;
}
