.quitmodal{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: rgba($color: #000000, $alpha: 0.5);
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
}

.quitmodal:hover {
    text-decoration: none;
    color: rgba($color: #000000, $alpha: 0.9);
}
.logo-search
{
width: 30px;
height: 30px;
object-fit: cover;
margin-right: 5px;
}

.experience_organization{
    margin-bottom: 0px
}
