.navbar-jobin {
  justify-content: space-between;
  background: white;
  border-bottom: solid 1px lightgrey;
}

.navbar-jobin .navbar-collapse {
  flex-grow: 1;
}

.navbar-jobin .navbar-brand img {
  width: 40px;
}

.navbar-jobin li {
  padding: 0px 10px;
}

.link-nav {
  padding: 0 10px;
  color: grey;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.active-item {
  border-bottom: solid 3px $red;
  .link-nav{
    color: black;
  }
}


.connexion {
  display: flex;
  align-items: flex-end;

}

.fa-bell {
  font-size: 23px;
  color: lightgrey;
  font-style: lighter;
  align-items: flex-end;
  align-self: center;
  justify-content: center;
  position: relative;
}

.dropdownnotif {
  width: 300px;
  padding: 0px;
}

.notification-card {
  display: flex;
  direction: row;
  align-items: baseline;
}

.notification-card {
  
  align-items: center;

}

.notification-card-img {
  object-fit: contain;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  align-self: center;
  justify-content: center
}


.notification-card p {
  font-size: 12px;
  margin-left: 10px;
}

#indextoactive {
  margin-top: 3px;
}

.dropdown-item-notification {
  padding: 0px;
}


.nav-item .badge {
  position: absolute;
  top: -10px;
  right: 3px;
  border-radius: 50%;
  background: $red;
  color: white;
}


.notif-card-text p{

  margin: 10px;
}


.notif-card-text{
  white-space: normal;
}