.navbar-jobin {
  justify-content: space-between;
  background: white;
  border-bottom: solid 1px lightgrey;
}

.navbar-jobin .navbar-collapse {
  flex-grow: 1;
}

.navbar-jobin .navbar-brand img {
  width: 40px;
}

.navbar-jobin li {
  padding: 0px 10px;
}

.link-nav {
  padding: 0 10px;
  color: grey;
  transition: 0.3s;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.active-item {
  border-bottom: solid 3px $red;
  .link-nav{
    color: black;
  }
}


.connexion {
  display: flex;
  direction: column;

}

.fa-bell {
  font-size: 23px;
  color: lightgrey;
  font-style: lighter;
  margin-top: 7px;
  margin-right: 15px;
  align-self: center;
  justify-content: center
}

.dropdownnotif {
  width: 470px
}

.notification-card {
  display: flex;
  direction: row;
}

.notification-card {
  display: flex;
  direction: row;
  position: relative;
}

.notification-card-img {
  object-fit: contain;
  size: initial;
  height: 70px;
  width: 70px;
  margin-left: 10px;
  align-self: center;
  justify-content: center
}


.notification-card p {
  font-size: 12px;
  margin-left: 110px;
  align-self: center;
  text-align: left;
  justify-content: center;
  margin-bottom: 0px;
  position:absolute;
  max-width: 100%
}

#indextoactive {
  margin-top: 3px;
}

.dropdown-item-notification {
  padding: 0px;
}
